<h1>Staff only</h1>
<h2>Add new vet</h2>
<hr />

<form action="/vets" method="post">
  <label for="vetName">Vet name:</label>
  <input id="vetName" name="vetName" type="text">
  <label for="vetSpecialty">Vet Specialty:</label>
  <input id="vetSpecialty" name="vetSpecialty" type="text">
  <button type="submit">Add</button>
</form>

<h4><a href="/">Return home</a></h4>
