<h1>Add a new patient</h1>

<form action='/patients' method='post'>
  <label for='name'>Patient name</label>
  <input id='name' name='name' type='text'>

  <label for='visitReason'>Visit reason</label>
  <input id='visitReason' name='visitReason' type='text'>

  <label for='type'>Type</label>
  <input id='type' name='type' type='text'>

  <label for='dob'>Date of birth</label>
  <input id='dob' name='dob' type='date'>

  <button type='submit'>Add patient</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/patients">View all patients</a></p>
